.root {
  --_input-padding-vertical: 0.25em;
  --_input-padding-horizontal: 0.5em;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    color: var(--col-neutral-11);
    font-size: var(--fsize-s);
    font-weight: bold;
  }

  input,
  textarea,
  select {
    all: unset;
    box-sizing: border-box;

    background-color: var(--col-neutral-3);
    border: 1px solid transparent;
    border-radius: var(--rad-s);
    padding: 0.25em 0.5em;
    width: 100%;

    transition-property: border-color;
    transition-duration: 0.3s;

    &:hover {
      border-color: var(--col-neutral-8);
      transition-duration: var(--dur-s);
    }
    &:focus {
      border-color: var(--col-accent-8);
      transition-duration: var(--dur-s);
    }
  }
  textarea {
    resize: vertical;
  }

  option {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.25em 0.5em;
  }
  .selectRoot {
    position: relative;
  }
  .selectArrow {
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 1rem;
    height: auto;
    transform: translateY(-50%) rotate(90deg);
    pointer-events: none;
  }
}

.field[data-invalid="true"] {
  input {
    border-color: var(--col-danger);
  }
}

.message {
  color: var(--col-danger);
  font-size: var(--fsize-xs);
}

.button {
  padding: 0.5rem 0.75rem;
  border-radius: var(--rad-s);
}

.submit {
  color: green;
  background-color: darkgreen;
}

// Styling specific to INPUT COORDINATES

.inputCoordinates {
  --_label-width: 2rem;
  display: flex;

  .field {
    position: relative;
    flex-shrink: 2; //Separators aren't visible without this
  }

  .separator {
    width: 2px;
    height: unset;
    background-color: var(--col-neutral-2);
  }

  .message {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  label {
    position: absolute;
    top: 0;
    left: 0;

    width: var(--_label-width);
    height: 100%;
    display: grid;
    place-items: center;

    color: var(--col-neutral-8);
  }

  input {
    position: relative;
    border-radius: 0;
    padding-left: var(--_label-width);

    // Gets rid of all browser added Arrow-Buttons on number-inputs
    -moz-appearance: textfield !important;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none !important;
    }
  }

  // Borders Radius
  :first-child input {
    border-top-left-radius: var(--rad-s);
    border-bottom-left-radius: var(--rad-s);
  }
  :last-child input {
    border-top-right-radius: var(--rad-s);
    border-bottom-right-radius: var(--rad-s);
  }
}
