.overlay {
  position: fixed;
  inset: 0;
  background-color: #00000088;
}
.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: calc(100vw - 4rem);
  max-width: 400px;
  max-height: calc(100vh - 4rem);
  background-color: var(--col-neutral-2);
  border-radius: var(--rad-l);
  padding: 1.5rem;
  box-shadow: 0 0 1rem #00000055;
  overflow-x: hidden;

  color: var(--col-neutral-12);
}

.title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.description {
  color: var(--col-neutral-11);
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: calc(var(--rad-l) / 2);
  border-radius: 0 0 0 calc(var(--rad-l) / 3 * 2);

  transition: background-color 0.3s;
  &:hover {
    background-color: var(--col-neutral-4);
    transition: background-color var(--dur-s);
  }
}
