.root {
  --_laputa-width: 400px;
  --_overview-topbar-height: 40px;
  position: absolute;

  top: 1rem;
  left: 1rem;

  max-height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  background-color: var(--col-neutral-2);
  width: var(--_laputa-width);
  border-radius: var(--rad-m);
  box-shadow: 0px 0px 1rem #00000011;
  overflow: hidden;
}
