.container {
  color: var(--col-neutral-12);
  background-color: var(--col-neutral-trans-1);
  backdrop-filter: blur(var(--blur));
  border-radius: var(--rad-s);
  user-select: none;
  transition: background-color 0.5s;

  &:hover {
    background-color: var(--col-neutral-1);
    transition-duration: var(--dur-s);
  }
}
