.root {
  --_size: 60px; /* Set Size of Circle here */

  height: calc(var(--_size) * 1.25);
  width: var(--_size);

  /* TODO: To be Changed after Debugging */
  position: absolute;
  top: calc(25px - var(--_size) * 0.25);
  right: 25px;
}

.avatarContainer {
  position: absolute;
  right: 0;
  width: var(--_size);
  height: calc(var(--_size) * 1.25);
  border-bottom-left-radius: 100vw;
  border-bottom-right-radius: 100vw;
  overflow: hidden;
  pointer-events: none;
  user-select: none;

  .avatarImgContainer {
    position: absolute;
    top: 0;
    width: 75%;
    height: 100%;
    left: 50%;
    transform: translate(-50%, 33.33%);
    transition: transform 0.75s;

    img {
      object-fit: cover;
      object-position: top;
    }
  }
}

.expandedContainer {
  position: absolute;
  right: 0px;
  bottom: 0;
  height: var(--_size);
  border-top-right-radius: 100vw;
  border-bottom-right-radius: 100vw;
  overflow: hidden;

  .expandedContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: var(--_size);
    padding: 0.5rem var(--_size) 0.5rem 1.5rem;
    border-radius: 100vw;
    background-color: var(--col-neutral-trans-2);
    backdrop-filter: blur(var(--blur));
    position: relative;
    left: calc(100% - var(--_size));
    transition-property: left, background-color;
    transition-duration: 1s;
    font-size: var(--fsize-s);

    .username {
      font-weight: bold;
    }

    .logout {
      color: var(--col-danger);
      font-size: var(--fsize-xs);
    }

    & > * {
      opacity: 0;
      pointer-events: none;
      transition-property: opacity, pointer-events;
      transition-duration: 0.5s;
    }
  }
}

/* Active State */
.root[data-state="active"] {
  .avatarImgContainer {
    transform: translate(-50%, 0);
    transition: transform 0.3s;
  }
  .expandedContent {
    left: 0;
    transition-duration: 0.3s;
    background-color: var(--col-neutral-1);
    & > * {
      opacity: 1;
      pointer-events: auto;
      transition-delay: 0.2s;
    }
  }
}
