.root {
  background-color: var(--col-neutral-3);
  border-radius: var(--rad-s);
  padding: 0.5em;
  min-height: 2rem;

  display: flex;
  gap: 0.5rem 0.25rem;
  flex-wrap: wrap;

  .me,
  .player,
  .plus {
    all: unset;
    border-radius: var(--rad-s);
    padding: 0.125em 0.5em;
    background-color: var(--col-neutral-5);
    font-size: var(--fsize-s);
    font-weight: bold;
    color: var(--col-neutral-11);
    user-select: none;
    transition-property: background-color;
    transition-duration: var(--dur-s);
  }

  .plus {
    cursor: pointer;
    padding: 0 0.375rem;
  }

  .me {
    cursor: no-drop;
  }

  .player {
    cursor: pointer;
    background-color: var(--col-neutral-5);
    &:hover {
      background-color: var(--col-danger-3);
    }
  }
}

.selectContent {
  background-color: var(--col-neutral-1);
  overflow: hidden;
  border-radius: var(--rad-s);
  box-shadow: 0 0 0.5rem #00000022;
}

.selectPlayer {
  padding: 0.125em 0.5em;
  background-color: var(--col-neutral-5);
  font-size: var(--fsize-s);
  font-weight: bold;
  color: var(--col-neutral-11);
  user-select: none;
  outline: none;
  transition-property: background-color;
  transition-duration: var(--dur-s);

  &:hover,
  &:focus {
    background-color: var(--col-neutral-8);
  }
}

.viewport {
  display: flex;
  flex-direction: column;
}
