.tabRoot,
.tabContent {
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.tabContent {
  position: relative; // Needed for FilterToggleGroup Chevron Placement
}

.resultCount {
  height: 3rem;
  display: grid;
  place-items: center;
  color: var(--col-neutral-11);
  font-size: var(--fsize-s);
}

.searchInput {
  display: flex;
  gap: 1rem;
  align-items: center;

  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--col-neutral-4);

  font-size: 1.5rem;
  cursor: text;

  input {
    background-color: inherit;
    flex-grow: 1;
    border: none !important;
    outline: none !important;

    /* Gets rid of all browser added 'Clear Input' Buttons */
    &::-ms-clear {
      display: none;
      width: 0;
      height: 0;
    }
    &::-ms-reveal {
      display: none;
      width: 0;
      height: 0;
    }
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }

  svg {
    color: var(--col-neutral-11);
    height: 1.75rem;
    height: auto;
    aspect-ratio: 1;
    cursor: pointer;

    transition: color 0.1s;
  }

  &:focus,
  &:focus-within {
    svg {
      color: var(--col-neutral-12);
    }
  }
}

.buttonAddWrapper {
  display: grid;
  place-items: center;
  white-space: nowrap;
  height: var(--_overview-topbar-height);
}

.buttonAdd {
  display: flex;
  gap: 0.25em;
  align-items: center;
  user-select: none;

  color: var(--col-neutral-11);
  font-size: var(--fsize-s);
  font-weight: bold;

  transition: color var(--dur-s);

  img,
  svg {
    width: 1.25em;
    height: 1.25em;
  }

  &:hover,
  &:focus,
  &:focus-within {
    color: var(--col-neutral-12);
  }
}
