.root {
  white-space: nowrap;
  height: var(--_overview-topbar-height);
  padding: 0.5rem 0.75rem 0.5rem;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }

  .chevronLeft,
  .chevronRight {
    position: absolute;
    top: 0;
    height: var(--_overview-topbar-height);
    display: flex;
    align-items: center;

    opacity: 0;
    user-select: none;
    pointer-events: none;
    transition: opacity 0.3s;

    &[data-visible="true"] {
      opacity: 1;
      pointer-events: auto;
    }

    // BG for Linear Gradient
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 3rem;
      pointer-events: none;
    }

    svg {
      z-index: 1;
    }
  }

  .chevronLeft {
    left: 0;
    margin-left: 0.5rem;
    svg {
      transform: rotate(180deg);
    }

    &::before {
      margin-left: -0.5rem;
      background: linear-gradient(
        to right,
        var(--col-neutral-2) 28%,
        hsla(0, 0%, 0%, 0)
      );
    }
  }

  .chevronRight {
    right: 0;
    justify-content: flex-end;
    margin-right: 0.5rem;

    &::before {
      margin-right: -0.5rem;
      background: linear-gradient(
        to left,
        var(--col-neutral-2) 28%,
        hsla(0, 0%, 0%, 0)
      );
    }
  }
}
