.button {
  background-color: var(--col-neutral-8);
  border: 2px solid transparent;
  outline: none;
  border-radius: 0.5rem;

  font-size: 1rem;
  padding: 0.125rem 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition-duration: 0.25s;
  transition-property: border-color, background-color;

  &:focus-visible {
    border-color: var(--col-accent-8);
  }
  &:hover {
    background-color: var(--col-neutral-9);
  }
  &:active {
    background-color: var(--col-neutral-10);
  }
}
